# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler
.venv

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# local env files
.env*.local
sxcndhxnd-service-account.json