---
import Layout from "../layouts/Layout.astro";
import CommissionsForm from '../components/commissions/CommissionsForm.jsx'
---

<Layout title="sxcndhxnd">
  <main>
    <CommissionsForm/>
  </main>
</Layout>


