---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sxcndhxnd">
  <main>
    <h1>Commissions</h1>
    <form method="POST" class='flex flex-col'>
      <label>
        First Name:
        <input type="text" name="firstName" />
      </label>
      <label>
        Last Name:
        <input type="text" name="lastName" />
      </label>
      <label>
        Email:
        <input type="text" name="email" />
      </label>
      <label>
        What type of commission do you want?
        <select class="border-solid border-2 border-sky-500">
          <option value="">Select one...</option>
          <option value="pants">Pants - $200</option>
          <option value="outerwear">Outerwear - $150</option>
          <option value="tops">Tops - $125</option>
          <option value="accessories">Accessories - $75</option>
          <option value="patchwork">Patchwork - $25-$50 PER reinforcement</option>
          <option value="hemming">Hemming - $20</option>
        </select>
      </label>
      <label class="flex">
        Describe the vision you have for the piece in as much detail as possible.
        <textarea placeholder="Type your message" class="border-solid border-2 border-sky-500"/>
      </label>
      <label>
        Do you like symmetry, asymmetry, or a mix?
        <label>
          Symmetry
          <input type="radio" name='symmetry' value="Symmetry"/>
        </label>
        <label>
          Asymmetry
          <input type="radio" name='symmetry' value="Asymmetry"/>
        </label>
        <label>
          A mix of both
          <input type="radio" name='symmetry' value="A mix of both"/>
        </label>
      </label>
      <label>
        Are you providing the base article of clothing, or do you want me to source it?
      </label>
      <label>
        You receive a 10% discount for providing the base clothes.
        <label>
          Yes, I'm providing the base
          <input type="radio" name='base' value="Yes, I'm providing the base"/>
        </label>
        <label>
          No, I want you to source all the materials.
          <input type="radio" name='base' value="No, I want you to source all the materials."/>
        </label>
      </label>
      <label>
        What colors do you want?
        <input type="text" name="colors" />
      </label>
      <label>
        What type of fabrics do you want?
        <input type="text" name="fabrics" />
      </label>
      <label class="flex">
        Please provide some loose detail on shape patterns you prefer
        <textarea placeholder="Type your message" class="border-solid border-2 border-sky-500"/>
      </label>
      <label>
        Would you like to add some distress (wear and tear)? 
        <label>
          Yes
          <input type="radio" name='distress' value="Yes"/>
        </label>
        <label>
          No
          <input type="radio" name='distress' value="No"/>
        </label>
      </label>
      <label>
        If it's an old piece, do you need it retailored?
        <label>
          Yes
          <input type="radio" name='retailor' value="Yes"/>
        </label>
        <label>
          No
          <input type="radio" name='retailor' value="No"/>
        </label>
      </label>
      <label>
        Do you want me to add pockets anywhere?
        <input type="text" name="pockets" />
      </label>
      <label>
        Do you want me to send you weekly check-ins?
        <label>
          Yes
          <input type="radio" name='retailor' value="Yes"/>
        </label>
        <label>
          No
          <input type="radio" name='retailor' value="No"/>
        </label>
      </label>
      <label class="flex">
        Anything else I should know?
        <textarea placeholder="Type your message" class="border-solid border-2 border-sky-500"/>
      </label>
      <button type="submit">Submit</button>
    </form>
  </main>
</Layout>

<style>
  input {
    border: solid 1px rgb(30, 159, 245);
  }

  textarea{

  }
</style>
